[2019-04-30 21:35] smoy opened #1 "We should update the README to explain to the community how this repository is different from databricks repo"
We should update the README to explain to the community how this repository is different from databricks repo

[2019-04-30 23:11] smoy opened #2 "Enabling branch restrictions"
Use the instruction here: https://help.github.com/en/articles/enabling-branch-restrictions

We want to establish certain community guideline on the commit process work. So we will have to restrict the number of committers.

[2019-05-01 07:08] smoy opened #3 "Make spark-redshift compatible with Spark 2.4.2"
Since the first hurdle the community face is to make spark-redshift compatible with the current latest stable Spark version 2.4.2. Let's make that work.

[2019-05-01 07:28] smoy opened #4 "Adopt Code of Conduct for community"
Let's adopt code of conduct for our community

[2019-05-15 00:21] smoy opened #5 "Rename the organization and come up with a creative name"
We got a confirmation from Reynold X. to do the following

[2019-05-15 00:44] smoy commented on #5
1. spark-community-redshift
2. spark-open-redshift
3. spark-heart-redshift
4. spark-with-redshift
5. spark-knows-redshift

[2019-05-17 16:07] sungjuly commented on #5
@smoy `spark-open-redshift` sounds good to me.

[2019-05-23 07:39] smoy commented on #5
@andrewclegg @lucagiovagnoli any votes?

[2019-06-07 15:19] davidmarin commented on #5
Hey all, I'm going to be helping Yelp port `spark-redshift` to Spark 2.4.

[2019-06-07 15:20] davidmarin commented on #5
A couple of name suggestions:

If we want to be obvious, `spark-redshift-connector` is easy to parse.

If we want to be cute, how about `spark-doppler`?

[2019-06-07 18:21] lucagiovagnoli commented on #1
I'll take care of this. It'll be part of my first 'public' release.

[2019-06-07 18:26] lucagiovagnoli commented on #5
I'd like to keep the words 'spark-redshift' close together as they are like a brand by now.
I'd also like to communicate this is a welcoming community edition.

On the lines of what @smoy said, I'd suggest something like `spark-redshift-community` or `spark-redshift-open`

[2019-06-07 19:07] davidmarin commented on #5
@lucagiovagnoli I agree.

`spark-redshift-for-all`?

[2019-06-10 23:37] smoy commented on #5
Yes, we will be renaming the organization to the new name voted here, as long as its not "spark-redshift", i think we honor databrick's intend.

[2019-06-11 20:54] smoy commented on #5
@sungjuly Would you vote for "spark-redshift-for-all"? We like to proceed to rename the organization.

[2019-06-11 20:58] lucagiovagnoli commented on #5
I'd be happy with `spark-redshift-open` that is also similar to what @sungjuly suggested earlier (`spark-open-redshift`). Those 3 words re-arranged have been mentioned/voted on 3 times by @sungjuly @smoy and me previously.

[2019-06-11 22:47] sungjuly commented on #5
@smoy @lucagiovagnoli actually I love `spark-redshift-community` more as @lucagiovagnoli suggested.

[2019-06-11 22:49] lucagiovagnoli commented on #5
Works for me! If no one strongly opposes I'll go with that

[2019-06-12 00:19] #5 closed

[2019-06-17 18:55] lucagiovagnoli opened #7 "Fix SaveMode tests on spark 2.4"
I spent quite some time on this, fearing these 3 [SaveMode tests](https://github.com/Yelp/spark-redshift/blob/master/src/it/scala/com/databricks/spark/redshift/SaveModeIntegrationSuite.scala#L76) were broken.

Snowflake take was to ignore them:
https://github.com/snowflakedb/spark-snowflake/commit/09547724dcb77a03f6d995b2721c6c7ac49d06f9#diff-afa740a7c31773ddfd8882e1e082407aR281

I can get away by

[2019-06-17 23:55] lucagiovagnoli opened #8 "Re-enable IAM Authentication tests"
I don't think we use this feature internally, I've ignored these tests for now but it'd be good to come back to it later.

[2019-06-18 00:02] lucagiovagnoli opened #9 "Re-enable/fix postgresql tests"
I ignorted these as I don't think we need them for our 2.4 baseline.
postgresql tests disappeared from spark-snowflake too, which makes me think we can make without. We can come back to them if needed.

[2019-06-19 11:29] psvishnu91 opened #10 "Support spark to redshift via parquet s3 files"
Dataframes written to redshift are first copied to s3 in one of the following supported formats
* Avro
* CSV
* CSV GZIP

before being `COPY`ied to redshift. Redshift now supports ingesting data from parquet files. Would be a nice to have to support writing from parquet files to redshift since parquet has become the most widely adopted storage format for spark.

Amazon's announcement on supporting

[2019-06-24 23:55] smoy opened #11 "Make dichiarafrancesco a committer for this project"
We are introducing dichiarafrancesco as a new committer. dichiarafrancesco works at Yelp and has contributed various commits to previous Yelp fork of spark-redshift.

We are adding dichiarafrancesco as a committer because of his prior knowledge of the spark-redshift repo and help speed up reviews of the new spark-redshift-community projects.

Welcome dichiarafrancesco

[2019-06-26 23:00] #3 closed

[2019-06-26 23:24] #11 closed

[2019-06-27 22:59] lucagiovagnoli opened #13 "Set up Travis testing"
Tackled in #21

[2019-07-01 20:49] lucagiovagnoli opened #14 "Change policy to 1 reviewer's approval"
It looks like reviewers and commiters are pretty busy and the mandatory 2 approvals rule is significantly slowing down development. Can we change the policy to only require 1 reviewer's approval?
@smoy

[2019-07-01 20:54] #2 closed

[2019-07-01 20:55] smoy commented on #14
I am cool with dropping this from 2 to 1 mandatory reviewer for now. We can re-visit this once we get more community members involved.

[2019-07-01 20:57] smoy commented on #14
I have applied the change: Branch protection rule settings saved.

[2019-07-01 20:57] #14 closed

[2019-07-02 17:58] #1 closed

[2019-07-15 13:36] hitansu opened #17 "Getting Failed to find data source: com.databricks.spark.redshif Spark 2.4.3"
Spark version 2.4.3 running in EMR.

**spark-shell --jars s3://x/spark-redshift/spark-redshift_2.11-4.0.0_community_edition.jar**
**sc.hadoopConfiguration.set("fs.s3n.awsAccessKeyId", "corresponding accesskey")**
**sc.hadoopConfiguration.set("fs.s3n.awsSecretAccessKey","corresponding secretkey")**
**var df = spark.read.format("com.databricks.spark.redshift").option("url", "corresponding jdbc url")

[2019-07-15 17:40] lucagiovagnoli commented on #17
The package has been renamed not to include databricks anymore. Try using:
`spark.read.format("com.spark_redshift_community.spark.redshift")`

[2019-07-16 05:37] hitansu commented on #17
Thanks. My bad forgot that.Its working.

[2019-07-16 18:20] lucagiovagnoli commented on #17
We had to rename the package again. If you upgrade to the latest `preview20190715`, remember to use:
`spark.read.format("io.github.spark_redshift_community.spark.redshift")`

I'm resolving this ticket now

[2019-07-16 18:20] #17 closed

[2019-07-23 18:59] lucagiovagnoli opened #19 "Publish to Maven Central"
How to publish a scala project:
https://www.scala-sbt.org/1.x/docs/Publishing.html

Guide: https://maven.apache.org/repository/guide-central-repository-upload.html

Maven Central requirements:
https://central.sonatype.org/pages/requirements.html

[2019-07-23 19:00] lucagiovagnoli opened #20 "Re-enable RedshiftSourceSuite (from parent repo)"

[2019-07-24 00:11] #13 closed

[2019-08-01 06:06] Gauravshah commented on #10
why would parquet have any advantage ? also CSV is fastest in terms of speed

[2019-08-01 09:57] psvishnu91 commented on #10
Apologies. Yea in retrospect, I don't see a point in leveraging parquet while dumping data into redshift. Its storage vs access tradeoffs make little sense here.

[2019-08-01 09:57] #10 closed

[2019-08-06 18:57] #20 closed

[2019-08-13 21:19] lucagiovagnoli opened #25 "Bug in parsing timestamptz"
I believe the following error is encountered when parsing the timestamptz (timestamp with timezone) from Redshift.

[code]

[2019-08-16 18:28] #25 closed

[2019-08-31 04:43] Gauravshah commented on #19
@lucagiovagnoli how can I help with this one ?

[2019-09-04 00:12] lucagiovagnoli commented on #19
@Gauravshah, thanks a lot for offering. I added a few links on this process, it doesn't look very straightforward to me. I'm not sure when I'll have time to get to this. If you'd like to give this a go, I think the steps would be:
- satisfy the Central requirements: https://central.sonatype.org/pages/requirements.html
- follow the sbt guide: https://www.scala-sbt.org/1.x/docs/Publishing.html

I'd

[2019-09-04 17:45] lucagiovagnoli commented on #19
I've created a JIRA ticket to initiate the request on Sonatype:
https://issues.sonatype.org/browse/OSSRH-51286

[2019-09-04 18:44] lucagiovagnoli commented on #19
@Gauravshah I think I've managed to do this actually, I found a useful plugin to help: https://github.com/xerial/sbt-sonatype

Will update the PR soon

[2019-09-05 01:26] Gauravshah commented on #19
thanks @lucagiovagnoli

[2019-09-16 21:17] lucagiovagnoli commented on #19
I managed to publish a SNAPSHOT version here:

https://oss.sonatype.org/content/repositories/snapshots/io/github/spark-redshift-community/spark-redshift_2.11/4.0.0-SNAPSHOT/

Hopefully we will soon release a stable version.

[2019-09-17 23:00] lucagiovagnoli commented on #19
This has been released!
https://oss.sonatype.org/#nexus-search;quick~spark-redshift-community

[code]

[2019-09-17 23:01] #19 closed

[2019-09-18 10:11] maimike opened #31 "Where to download jar file?"
I'm a python guy so i don't really know the way to build jar file. Could you please tell me where i can get jar file.
Thank you very much.

[2019-09-18 17:21] lucagiovagnoli commented on #31
Hi @maimike, we just recently published this to Maven Central. Check this out: https://github.com/spark-redshift-community/spark-redshift/issues/19

(basically add this to your pom)
[code]

[2019-09-19 14:16] maimike opened #32 "Failed to find data source: com.databricks.spark.redshift [ spark-redshift_2.11-4.0.0.jar]"
Hi
actually when using the spark-redshift_2.11-4.0.0.jar, i always got the error Failed to find data source: com.databricks.spark.redshift but if i replace it to spark-redshift_2.11-3.0.0-preview1.jar (official), it work well except the error which brings me to this repo.

https://github.com/databricks/spark-redshift/issues/417

Link to get  spark-redshift_2.11-4.0.0.jar
https://search.maven.org/a

[2019-09-19 14:21] maimike commented on #32
Solve when using spark.read.format("io.github.spark_redshift_community.spark.redshift"). But could you please update the documents?
Thanks

[2019-09-19 18:27] lucagiovagnoli commented on #32
Hi @maimike, is this similar to https://github.com/spark-redshift-community/spark-redshift/issues/17 ?

Could you please point me to the out of date docs ? If you mean the README, we kept the original README with the title "Original DataBricks Readme". If that's confusing, we could re-adapt it to show the updated groupId.

[2019-09-19 18:28] lucagiovagnoli opened #33 "Upgrade README to io.github.spark-redshift-community"
Keeping the original README with the title "Original DataBricks Readme" is confusing, users get the groupId mistaken. Let's upgrade the README to show the new groupId

[2019-09-19 18:30] #32 closed

[2019-09-28 08:38] duyetmai opened #34 "Accessing Redshift Fails with NullPointerException"
Anyway to handle this issue?.

Query two times is not a good deal for me.
https://kb.databricks.com/data-sources/redshift-npe.html

[2019-09-30 17:36] lucagiovagnoli commented on #34
Hi @duyetmai, I have personally never run through that issue but it seems that documentation contemplates this case and presents a solution (put nullable strings).

It seems to me this behaviour is inherent to how spark-redshift works (it first unloads and scans the temp files and there's no way to distinguish between null and empty strings). So I'm not sure there's anything we can do, it's the be

[2019-10-01 19:38] smoy commented on #34
Hi @duyetmai , I thought this commit would handle the issue you've brought up. Redshift has an option to control what is used to represent NULL.

https://docs.aws.amazon.com/redshift/latest/dg/copy-parameters-data-conversion.html#copy-null-as

[2019-10-09 20:09] hitesh-goel opened #35 "Getting `DateTimeParseException` error while reading from redshift timestamp."
[code]

[2019-10-10 17:55] lucagiovagnoli commented on #35
Yes, this pattern `"yyyy-MM-dd HH:mm:ss[.SSS][.SS][.S][X]"` won't account for that.

Is that a real ISO-8601 datetime string ? 3 digits after the dot is ms, 6 digits is microseconds, what about 5 ?

[2019-10-10 18:11] lucagiovagnoli commented on #35
The backend uses [Calendar](https://docs.oracle.com/javase/8/docs/api/java/util/Calendar.html#MILLISECOND), which won't go beyond milliseconds. Most of spark-redshift code is meant (and tested) not to go beyond milliseconds: https://github.com/spark-redshift-community/spark-redshift/blob/master/src/test/scala/io/github/spark_redshift_community/spark/redshift/ConversionsSuite.scala#L48

This featur

[2019-10-21 20:27] kelleyrw opened #36 "`checkThatBucketHasObjectLifecycleConfiguration` method failing due to null object"
This has been an issue since AWS updated its SDK and this method was not updated.  One line:
https://github.com/spark-redshift-community/spark-redshift/blob/master/src/main/scala/io/github/spark_redshift_community/spark/redshift/Utils.scala#L140

The `rule.getPrefix` returns a null so `startsWith` fails.  I believe since this method is deprecated, we just need to remove it and just use:
`rule.getS

[2019-10-21 20:53] kelleyrw commented on #36
I've created a PR:
https://github.com/spark-redshift-community/spark-redshift/pull/37/files

[2019-10-22 03:25] kelleyrw commented on #36
Seems this was addressed in:
https://github.com/spark-redshift-community/spark-redshift/pull/30

My bad -- closing this issue.

[2019-10-22 03:25] #36 closed

[2019-10-24 16:24] JohnnyLVP commented on #32
Thanks @maimike , I could solve it with  with that

[2019-10-24 17:10] sniggel opened #39 "Jitpack Package Repository is using wrong group id"
How to reproduce:
1. Navigate to https://jitpack.io/
2. In the lookup search, type in: spark-redshift-community/spark-redshift and click "look up".
3. The group id for spark-redshift community is com.github.spark-redshift-community but should be io.github.spark-redshift-community

[2019-10-25 17:04] smoy commented on #39
@lucagiovagnoli Do you have the creds to update jitpack.io entry?

[2019-10-25 17:22] lucagiovagnoli commented on #39
I don't think so. I wonder how you can get those results by typing in `spark-redshift-community/spark-redshift` ?
We're currently uploading to https://oss.sonatype.org/#nexus-search;quick~spark-redshift-community

[2019-10-25 17:50] sniggel commented on #39
I am confused, clicking on this: https://oss.sonatype.org/#nexus-search;quick~spark-redshift-community
shows 2 artefacts:
2.11 4.0.0
2.11 4.0.0-SNAPSHOT
There is another artefact called com.github.databricks/spark-redshift which is specified in the readme. What is this artefact ?: https://mvnrepository.com/artifact/com.github.databricks/spark-redshift

Also, I don't know if you tried compiling wit

[2019-10-25 18:14] #33 closed

[2019-10-26 00:12] blowenstein93 opened #40 "unload of a query returning zero rows fails"
Due to redshift changes, the unload statement no longer creates empty files, rather it does not create any files at all. This causes this library to fail as there are no s3 files or manifest to read from.

[2019-10-26 05:36] smoy commented on #40
Thank you for the report and the pull request. Do you have an exception stack trace handy for the current no result behavior? Do you recall when did this new Redshift behavior is introduced? I am quite surprised as well.

[2019-10-26 05:57] smoy opened #42 "Document how to release a new version"
Let's document how to release a new version. For example

* Tagging the released version
* Published the maven central, etc

[2019-10-28 18:20] blowenstein93 commented on #40
I've attached the stacktrace throwing the error. We started noticing this
behavior on Friday after our redshift cluster was automatically upgraded to
1.0.10694
<https://docs.aws.amazon.com/redshift/latest/mgmt/rs-mgmt-cluster-version-notes.html#rs-mgmt-cluster-version-notes-1010694>.
We were caught by surprise as well.

Let me know if there's anything else you would need from me.

-Brad

On Fri, O

[2019-10-28 18:31] lucagiovagnoli commented on #40
Reformatting the stacktrace:
[code]

[2019-10-29 12:47] sniggel commented on #39
Does jitpack is really necessary to fetch SNAPSHOT artifacts ?

[2019-10-29 14:04] BorePlusPlus commented on #40
We're experiencing the same issue over here. Thanks, @blowenstein93 for quick reporting also suggesting a fix via PR.

The issue is that when a query returns an empty result set (no results), connector expects to read a manifest file which is never written.
Not sure if catching the exception when reading any S3 file as suggested in PR is the best way forward, or could we do something a bit more "c

[2019-10-29 17:45] blowenstein93 commented on #40
@BorePlusPlus The more elegant solution would be to change the return type to `Option[DataFrame]` - however that implies breaking the api, which we should avoid.

[2019-10-30 00:20] lucagiovagnoli commented on #40
We have discussed the matter with our Amazon Redshift representative. We encourage you who face this issue to reach out to your respective Amazon rep as well.

If your organization needs this patch, you should fork and do a one-time special release yourself. However, we recommend you to check with Amazon representative before re-sorting to this patch.

[2019-10-31 01:47] duyetmai opened #43 "Exception Status Code: 404, AWS Service: Amazon S3, when filtering result of dataframe is zero"
After querying redshift, i have a dataframe with only one record

+------------------+--------------------+-------
|         accountid|         accountname|rangeid
+------------------+--------------------+-------
|0013900001Xt8UdAAJ|Arizona Public Se...|   null
+------------------+--------------------+-------

If i do filiter to count non empty/non null of accountid. It's OK.  I got expected resul

[2019-10-31 05:03] lucagiovagnoli commented on #43
Please check #40, this is a duplicate

[2019-10-31 18:34] smoy opened #44 "Add acceptance test to test against UNLOAD empty set"
This is in response to issue #40 to make sure we know the desired behavior.

[2019-11-01 12:16] BorePlusPlus commented on #40
To bridge us over to any potential updates from Amazon we went ahead with @blowenstein93  PR locally. (thanks for quick submission)

At this point, I'd like to thank everyone involved in this project. It makes spark redshift world a bit less lonely place. Cheers

[2019-11-01 17:26] smoy commented on #40
I want to circle back to give some feedback to this issue.

One of our teams in Yelp were affected by this problem (empty result set) as well. After upgrading their Redshift cluster to version 1.0.10936, the problem has gone away. Redshift has various version based on region, I think you need at least version 1.0.10880 or above.

[2019-11-01 17:26] smoy commented on #43
I want to circle back to give some feedback to this issue.

One of our teams in Yelp were affected by this problem (empty result set) as well. After upgrading their Redshift cluster to version 1.0.10936, the problem has gone away. Redshift has various version based on region, I think you need at least version 1.0.10880 or above.

[2019-11-01 18:53] mykolasmith opened #45 "Hadoop 3.2.0/Spark2.4.4 incompatible?"
I can't get any combination of version to work.

So far I've tried:

* Hadoop 3.2.1/Spark 2.4.4
* Hadoop 3.2.1/Spark 2.4.3
* Hadoop 3.2.0/Spark 2.4.4
* Hadoop 3.2.0/Spark 2.4.3

...and so on.

I am trying with s3a:// and temporary credentials. Here is the error:
[code]

I've tried with and without setting dependencyOverrides to:

[code]

Any ideas what I'm doing wrong?  According to https://stacko

[2019-11-01 19:21] mykolasmith commented on #45
Figured it out... needed to add exclusion rules:

[code]

[2019-11-02 03:48] lucagiovagnoli commented on #45
HI @mykolasmith!  Thanks for opening this. I'm curious about this.
I tried upgrading hadoop some time ago but since spark-redshift-community is heavily using the hadoop fs (filesystem) from an older version, it would require a significant code upgrade.

So did you manage to compile and run your app with hadoop 3 by using that configuration?

[2019-11-02 03:53] mykolasmith commented on #45
Hey Luca! Yes, I did, after much frustration, getting it running with
Hadoop 3.2.0/Spark 2.4.4. I’ll post my build.sbt and main application file
on Monday.

As an aside, thank you to Yelp and the whole community for breathing life
into this project. Cheers!

On Fri, Nov 1, 2019 at 11:48 PM Luca Giovagnoli <notifications@github.com>
wrote:

[2019-11-05 02:11] eeshugerman opened #46 "NullPointerException warning while checking s3 bucket lifecycle configuration"
I see https://github.com/spark-redshift-community/spark-redshift/pull/30, but I think this _might_ be a different issue, because my lifecycle configuration does have a prefix.

It looks like so:
![image](https://user-images.githubusercontent.com/25518211/68172974-ae5a9680-ff36-11e9-9bf4-6520495a589d.png)

I should note there are a couple other prefixes in the bucket that do not have a lifecycle po

[2019-11-05 02:41] eeshugerman opened #47 "[PySpark] JSON / Avro issues"
I'm running into issues with writes to Redshift. (Reads work great!). Here's what I'm trying to execute:
[code]
I should mention I'm a Spark/Scala noob. I built my `spark-redshift` jar by following `tutorial/how_to_build.md`, and am passing it to `spark-submit` with the `--jars` flag.

First I got
[code]
I found an [issue on the old Databricks](https://github.com/databricks/spark-redshift/issues/2

[2019-11-05 03:22] eeshugerman opened #48 "Microsecond precision breaks datetime conversion"
[code]

Worth noting, from the Redshift docs:

[2019-11-05 11:23] BorePlusPlus commented on #40
Thanks for sharing @smoy :+1:

[2019-11-05 12:27] smoy commented on #47
I don't exercise the write path, I am basing this on some documentation or an integration test. (We may have deleted in our hurry to port the original code to Spark 2.4)

https://spark.apache.org/docs/latest/sql-data-sources-avro.html

According to the deployment section, if you are using Spark 2.4 (this is important since this community version only supports 2.4+ at the moment), you have to add t

[2019-11-05 23:15] eeshugerman commented on #47
Thanks for your response!

I ended up getting it working like so:

[code]

(My coworker pointed out that `spark-redshift` builds are available on Maven so there's no need to build it ourself, so that's why I'm no longer passing it in with `--jars`.)

I'm confused as to why it's necessary to specify the Avro dependency... Why isn't it handled automatically like all the rest?

[2019-11-05 23:18] #47 closed

[2019-11-06 04:44] eeshugerman commented on #47
PR to add this to the README: https://github.com/spark-redshift-community/spark-redshift/pull/49

[2019-11-07 16:50] eeshugerman commented on #48
Closing because I just noticed there is already https://github.com/spark-redshift-community/spark-redshift/issues/35

[2019-11-07 16:50] #48 closed

[2019-11-08 00:29] lucagiovagnoli commented on #48
Yes, we should improve the library to handle 6 digits. Feel free to take a crack at it if you need this, I'm available to review

[2019-11-08 00:39] lucagiovagnoli commented on #45
Hi @mykolasmith, thanks a lot! Your feedback was very appreciated by the entire team.

I'm curious about excluding hadoop from spark-redshift:
[code]

spark-redshift is heavily reliant on hadoop FileSystem (eg see [RedshiftWriter](https://github.com/spark-redshift-community/spark-redshift/blob/master/src/main/scala/io/github/spark_redshift_community/spark/redshift/RedshiftWriter.scala#L25))
Last t

[2019-11-08 00:51] lucagiovagnoli commented on #39
I don't think we have release any SNAPSHOT artifacts, (maybe one) but you should find them on our [nexus](https://oss.sonatype.org/#nexus-search;quick~spark-redshift-community).
We haven't uploaded anything to jitpack since the start of `spark-redshift-community`

[2019-11-08 01:09] sniggel commented on #39
Alright, so I guess the snapshot section of the readme should be removed ?

[2019-11-08 01:12] lucagiovagnoli commented on #39
It doesn't mean we will never release SNAPSHOTS in the future. Also if you check the link above, we actually have released 4.0.0-SNAPSHOT, you can find it on nexus.

[2019-11-08 01:32] sniggel commented on #39
okay, so yes I do see the SNAPSHOT on nexus, however, maybe the jitpack resolver isn't needed in the README ?

[2019-11-08 01:33] lucagiovagnoli commented on #39
Yes, I was thinking about removing it. Unless we plan on supporting jitpack @smoy  ?

[2019-11-08 01:37] dbranscombe opened #50 "NoClassDefFoundError: Could not initialize class org.apache.spark.util.JsonProtocol"
Running on EMR 2.6  via Zeppelin (spark 2.4.3 and Zeppelin 0.8.1).
Trying to run basic load:
[code]

Getting
[code]

[2019-11-08 02:59] lucagiovagnoli commented on #50
Hi, thanks for opening this issue!

1. Unfortunately we recently dropped IAM support. Check the [CHANGELOG](https://github.com/spark-redshift-community/spark-redshift/blob/master/CHANGELOG#L10). I'd be very happy to support IAM again but I don't have the bandwidth to work on this. Feel free to push out a PR if you need it, I'll be happy to review it.
2. We don't do testing on EMR at the moment. Ag

[2019-11-08 02:59] lucagiovagnoli commented on #50
Hi, thanks for opening this issue!

1. Unfortunately we recently dropped IAM support. Check the [CHANGELOG](https://github.com/spark-redshift-community/spark-redshift/blob/master/CHANGELOG#L10). I'd be very happy to support IAM again but I don't have the bandwidth to work on this. Feel free to push out a PR if you need it, I'll be happy to review it.
2. We don't do testing on EMR at the moment. Ag

[2019-11-08 19:26] mykolasmith commented on #45
Hi @lucagiovagnoli,

Here's an excerpt from our `build.sbt` file:

[code]

The `baseSettings` referred to above includes the following dependencies:

[code]

Usage is as such:

[code]

I did have to set the following sparkConf:

`.set("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider")`

...in order to avoid an error where the AWS Credentials

[2019-11-08 22:51] dbranscombe commented on #50
Thanks for the response and your work!

Re 1. Darn. IAM could be a deal breaker...off the top how invasive was your pull out of it? Any idea pain involved in getting it working?

[2019-11-09 00:38] lucagiovagnoli commented on #50
We didn't really remove any code related to IAM, but I did remove IAM authentication tests, so I don't know if it works or not.

Creating a IAM test would be the first step, it should not be too much work. You can start by re-adding [this test](https://github.com/databricks/spark-redshift/blob/184b4428c1505dff7b4365963dc344197a92baa9/src/it/scala/com/databricks/spark/redshift/IAMIntegrationSuite.s

[2019-11-09 00:41] lucagiovagnoli commented on #45
Thanks a lot for posting this! We'll try to update the hadoop version in the near future and circle back

[2019-11-11 19:29] mykolasmith commented on #46
Also seeing this issue...

[2019-11-11 19:32] lucagiovagnoli commented on #46
@eeshugerman have you tried this in a bucket containing only prefixes with a lifecycle policy ? I'm trying to understand the steps to reproduce and the potential culprit.

[2019-11-11 21:34] eeshugerman commented on #46
I have not, I'll report back when I have a chance to try that out.

Also, just to clarify the OP, I'm using `.option('tempdir', 's3n://mybucket/spark/data')`.

[2019-11-13 17:57] eeshugerman commented on #35
@lucagiovagnoli do you have any suggestions for `Calendar` replacements?

Also (demonstrating my JVM ignorance here...), why is there no mention of `Calendar` in the source code? Instead I see a lot of `import java.sql.Timestamp` and `import java.time.format.DateTimeFormatter`. Do these standard library utils use `Calendar`?

[2019-11-14 02:48] lucagiovagnoli commented on #35
Hey @eeshugerman, there are no basic questions, thanks for asking.

You're actually right, we're not using Calendar in the src/ code but only in tests to create fake data. The temporalAccessor and java.sql.Timestamp from Conversions.scala can both handle microseconds and nanoseconds.

I had a go at this in #51, feel free to review. Also for @smoy and @dichiarafrancesco

[2019-11-14 02:53] lucagiovagnoli commented on #48
Fixed by #51

[2019-11-14 02:58] lucagiovagnoli opened #52 "Run itest on github"
We're currently **NOT** running itests in travis because they require credentials to Redshift. This is not good as they recently broke (I noticed by running them manually internally). I'd feel better if we had continuous testing based on a timer.

Let's make this happen on Travis.

[2019-11-14 18:07] eeshugerman commented on #35
Awesome, thanks for addressing this! I added a couple comments on the PR.

[2019-11-21 16:49] shawnweeks opened #53 "Allow Custom Endpoint"
Currently we are hard coding s3.amazonaws.com which breaks connections to things with different urls like Gov Cloud.

[2019-11-21 20:29] #35 closed

[2019-11-22 00:53] lucagiovagnoli commented on #53
Hi @shawnweeks , I'm sorry, could you provide some more pointers please ?
* A link to the code where we are hardcoding s3.amazonaws.com
* A stacktrace of the error that you are getting

[2019-11-22 14:59] shawnweeks commented on #53
Currently this doesn't work on Gov Cloud because we're calling the S3 Client without passing in a region. I'm working on the patch though. Just wanted to track it. I'll update once I track down the exact issue.

[2019-11-22 15:01] shawnweeks commented on #53
Actual issue is that after calling unload in Redshift the calls to S3 hit s3.amazonaws.com instead of the gov cloud endpoint leading to an IAM Role Not Found error. I think this is because we have to specific the region in gov cloud or the initial S3 call goes to the wrong place.

[2019-11-22 15:13] shawnweeks commented on #53
And I just tracked down the issue. We need to be using the S3 Client Builder and passing in the Region. I'll try and make a optional parameter into the load to specify the region and issue a pool request once I've tested it.

[2019-11-22 18:11] shawnweeks commented on #53
Specifically the default s3 client constructor doesn’t work against gov cloud. You have to use the builder and specify the region.

[2019-12-06 21:06] eeshugerman opened #55 "spark-redshift breaks auto-broadcast?"
[original title: **Concurrency issues**]

-------

Hi,

So before this fork made use of `spark-redshift` feasible, I was using a roll-my-own version: writing and reading CSV files to S3 and using `psycopg2` to execute `copy` and `unload` queries. This solution had problems, and it's always preferable to **not** reinvent the wheel, but it was very fast. Upon switching to `spark-redshift`, my Spark

[2019-12-07 06:17] meetchandan opened #56 "Fix executing empty sql statement in preactions and postactions"
Say for example:
you need to execute preactions/postactions

`val preactions = "update table1 set col1=2; update table2 set col2 = 2; "`
Looks nothing wrong, correct?

Only when you try to execute it, you will get weird error:

Caused by: java.lang.StringIndexOutOfBoundsException: String index out of range: 0

This is because of Line 248 and Line 260 in Parameters.scala
`def preActions: Array[Stri

[2019-12-07 06:18] meetchandan commented on #56
I am working on the fix and will soon raise a PR

[2019-12-07 11:02] meetchandan commented on #55
Are you running the same queries with and without using `spark-redshift` ?

[2019-12-07 11:05] meetchandan commented on #56
https://github.com/spark-redshift-community/spark-redshift/pull/57

[2019-12-07 11:14] meetchandan commented on #34
@duyetmai  did the commit https://github.com/spark-redshift-community/spark-redshift/commit/3ae6a9b6f52f41a0b86197e41c807e2861d4f014 solve your issue?
We are also facing similar problem.

[2019-12-07 21:45] eeshugerman commented on #55
Yes, I have not changed the queries.

[2019-12-12 17:46] lucagiovagnoli commented on #55
@meetchandan thanks for opening this! It looks indeed very interesting.
It looks like spark-redshift could benefit from some performance improvements but I don't know of anyone at Yelp who noticed this (@smoy?), you might be in the best position to reproduce and debug this.

Please let us know if you find anything out!

[2019-12-12 17:48] lucagiovagnoli commented on #56
Also, when you get to this, could you please update the README and CHANGELOG accordingly? (A `patch` bump is fine since this is a backward compatible bugfix)

[2019-12-13 15:50] #56 closed

[2019-12-23 16:38] fd8s0 opened #60 "Support parquet as tempformat for AWS EMRFS Optimised Committer"
Using this in EMR can occasionally lead to errors on the copy command and also perform worse than necessary because EMR have only enabled their optimised committer for parquet writing.

https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-spark-committer-reqs.html

Supporting parquet as tempformat should fix this.

[2019-12-27 14:01] pmalafosse opened #61 "java.lang.AbstractMethodError: io.github.spark_redshift_community.spark.redshift.RedshiftFileFormat.shouldPrefetchData(Lorg/apache/spark/sql/SparkSession;Lorg/apache/spark/sql/types/StructType;Lorg/apache/spark/sql/types/StructType;)Z"
Hello,

I'm using EMR 5.28.0 with Spark 2.4.4 and Scala 2.11.12 and I get this error when I try to read a Redshift table. Does anyone know how to fix it please?

```java.lang.AbstractMethodError: io.github.spark_redshift_community.spark.redshift.RedshiftFileFormat.shouldPrefetchData(Lorg/apache/spark/sql/SparkSession;Lorg/apache/spark/sql/types/StructType;Lorg/apache/spark/sql/types/StructType;)Z`

[2019-12-27 14:11] pmalafosse commented on #61
I also tried launching Spark like that but get the same error:
`spark-shell --jars RedshiftJDBC42-n-community:spark-redshift_2.11:4.0.0,org.apache.spark:spark-avro_2.11:2.4.4`

[2019-12-27 14:42] pmalafosse commented on #34
I had this issue too and another solution without reading twice the table is to define the schema.

[code]

[2020-01-05 02:00] Gauravshah opened #62 "Unable to use IAM credentials"
Clone of issue : https://github.com/databricks/spark-redshift/issues/370

[2020-01-06 13:41] k0l0nell commented on #61
Just ran into that as well but couldn't quite trace it all the way through to the root cause. I "fixed" this by adding a `shouldPrefetchData` method to `RedshiftFileFormat.scala`

[code]

Can't comment on possible side effects of this though. Need to find some time to see where  shouldPrefetchData comes from as I can't find it in spark sql sources

[2020-01-15 19:52] lucagiovagnoli commented on #62
Hi @Gauravshah, we removed tests and support for IAM credentials in 4.0.0, check out the [CHANGELOG](https://github.com/spark-redshift-community/spark-redshift/blob/master/CHANGELOG) here

It was a lot of work to get to 4.0.0 and we had to drop something. If you'd like to fix IAM support, I'll be happy to review your PR

[2020-01-15 19:59] lucagiovagnoli commented on #61
All this is hard to reproduce for me because we don't have testing on EMR and we don't use this package in EMR at Yelp. Where does shouldPrefetchData  come from?

@k0l0nell if you'd like to open a PR on here, I'll be happy to review.

[2020-01-15 22:23] k0l0nell commented on #61
No idea where it comes from or what makes the call. I will follow this through with AWS as I can't find this in vanilla spark.

Won't just yet until I understand what the root cause is :)

[2020-02-14 17:47] rhelmstetter opened #66 "Writing Timestamps back to redshift truncates microseconds"
The code to write timestamps truncates the microseconds to three digits. Since redshift supports up to six digits, the write should keep as much precision as Redshift supports.

[code]

[2020-02-18 02:19] eeshugerman commented on #55
I've had a chance to revisit this, and turns out all that was needed to "fix" it was to force a broadcast of the smallest table in my join using `pyspark.sql.functions.broadcast`.

Any ideas as to why the broadcast doesn't happen automatically when using `spark-redshift`? The table is _very_ small (5 rows), and I haven't touched `spark.sql.autoBroadcastJoinThreshold`, so it should be at the defaul

[2020-02-18 22:23] eeshugerman commented on #55
Also there's another table in the join weighing in at about 1 mb which previously was being auto-broadcasted, but isn't with `spark-redshift`.

[2020-02-21 01:26] lucagiovagnoli commented on #55
Reading from this answer: https://stackoverflow.com/a/43984818
It seems that using `.broadcast()` hints overrides the default `autoBroadcastJoinThreshold`?

So I wonder if this line is the culprit: https://github.com/spark-redshift-community/spark-redshift/blob/master/src/main/scala/io/github/spark_redshift_community/spark/redshift/RedshiftFileFormat.scala#L78

I would try setting up a small test

[2020-02-21 01:26] lucagiovagnoli commented on #55
Reading from this answer: https://stackoverflow.com/a/43984818
It seems that using `.broadcast()` hints overrides the default `autoBroadcastJoinThreshold`?

So I wonder if this line is the culprit: https://github.com/spark-redshift-community/spark-redshift/blob/master/src/main/scala/io/github/spark_redshift_community/spark/redshift/RedshiftFileFormat.scala#L78

I would try setting up a small test

[2020-02-21 18:23] eeshugerman commented on #55
Thanks! I can give that a shot.

Also I just noticed this from the second answer in that StackOverflow thread:

I've actually read this blurb several times by now, since it's in the documentation, but I think I just realized what it means: "statistics are only supported for..." means "Spark can only check the size of...". That is, Hive stuff aside, _autoBroadcast_ is only supported for "file-based

[2020-02-25 11:33] y-nosa opened #67 "Wrong tag name for SNAPSHOT in jitpack"
Currently, the release for the latest commit is named "-SNAPSHOT" in the jitpack, not the "master-SNAPSHOT" as mentioned in the documentation (https://jitpack.io/#spark-redshift-community/spark-redshift/-SNAPSHOT). I wonder, is it a time to make a new release just to reference more or less stable version instead of SNAPSHOT in the dependent projects.

[2020-02-25 19:52] lucagiovagnoli commented on #67
Hi @y-nosa , apologies about the README. jitpack is a leftover from when we forked, we've already released a stable version "4.0.1", you can find it here: https://oss.sonatype.org/#nexus-search;quick~spark-redshift-community

[code]

Snapshots are on nexus too, you may find them here https://oss.sonatype.org/#nexus-search;quick~spark-redshift-community

I'll update the README

[2020-02-26 23:31] #67 closed

[2020-02-27 08:12] #39 closed

[2020-03-02 18:19] #55 closed

[2020-03-02 19:58] lucagiovagnoli commented on #55
Thanks for looking into this!
Please let us know how you end up working around this problem, so we can have this information here for future reference

[2020-03-02 22:05] eeshugerman commented on #55
Sure thing! My workaround is just to use broadcast hints, rather than relying on the autobroadcast feature.

I should been more clear: I'm closing this because I'm now pretty sure that what I described here is actually expected behaviour. See my previous comment for more information.

[2020-04-15 19:35] karuppayya opened #69 "DSV2 support for redshift"
With Spark 3.0(to be released soon) we will have read support for for DSv2. I am planning to use the DSv2 api for Redshift connector. Wanted to check if the community would be interested in this?

[2020-04-15 22:07] smoy commented on #69
yes yes yes. that will be amazing. have been waiting for DSv2 to stabilize the api, which DSv2 doc you are using, i like to take a look as well. Cheers.

[2020-04-17 05:18] karuppayya commented on #69
@smoy I have created an PR. Please take a look.
https://github.com/spark-redshift-community/spark-redshift/pull/70

[2020-05-15 16:19] joprice opened #71 "Cross publish for scala 2.12"
Any chance this could be cross-published for scala 2.12?

[2020-05-15 18:30] lucagiovagnoli commented on #71
Hi @joprice,
feel free to send a PR over, I'm available to review

[2020-05-26 15:42] pmalafosse commented on #61
FYI this bug was fixed in EMR from 5.28.1 version.

[2020-05-26 15:42] #61 closed

[2020-06-25 07:56] ruturaj04 commented on #71
Hey @joprice any ETA on seeing the finished product in master? :)

[2020-07-20 20:11] nchammas opened #74 "How does unloadData() guard against eventually consistent S3 lists?"
I'm looking at this code: https://github.com/spark-redshift-community/spark-redshift/blob/84ebe9d5186370794c1c1dc82db9dba15679f9f9/src/main/scala/io/github/spark_redshift_community/spark/redshift/RedshiftWriter.scala#L317-L319

How do we know that `fs.listStatus()` is listing _all_ the files written to S3? There are no read-after-write consistency guarantees for S3 list operations.

It seems to me

[2020-08-04 13:12] Sergeant007 commented on #45
For poor soles who face the same issue on EMR: **emr-5.30.1** + **Spark 2.4.5** + **JupyterHub 1.1.0**

Any attempt to use _spark-redshift_ library breaks the entire Spark session. For example:
[code]
and then almost any operation (for instance `spark.table("some_table")`) results in following:

'java.lang.NoSuchMethodError: com.amazonaws.util.StringUtils.trim(Ljava/lang/String;)Ljava/lang/String;

[2020-08-05 18:46] potatochip commented on #71
+1

[2020-09-16 06:47] #71 closed

[2020-09-17 06:28] lucagiovagnoli commented on #71
This is out:  https://search.maven.org/search?q=spark-redshift-community

[2020-09-30 20:37] malopezp91 opened #76 "java.lang.NoSuchMethodError SparkContext.accumulableCollection"
Hi!

I am using spark-redshift to run a Java Spark Application in AWS EMR 6.1.0. This version of EMR uses Hadoop 3.2.1 and Spark 3.0.0. The application runs without any issue in EMR 6.0.0, which uses Hadoop 3.2.1 and Spark 2.4.4. I migrated all Spark related dependencies but I am having this error when running the application in the same way:

[code]
Does spark-redshift has an issue with Spark 3.0

[2020-10-01 08:07] lucagiovagnoli commented on #76
Hi @malopezp91 , the project doesn't yet support Spark 3.0.0
We have plans to upgrade it but it might take a while. Any help is appreciated

[2020-10-01 09:58] vanhoale commented on #76
Hi @malopezp91 & @lucagiovagnoli , I'm going to do a PR for it, please help to review. Thanks!

[2020-10-27 11:01] julienbachmann commented on #46
see this PR #30 fix the issue but was not merged for now.

[2020-12-02 08:50] cherrera20 commented on #74
Good new: https://aws.amazon.com/es/blogs/aws/amazon-s3-update-strong-read-after-write-consistency/

[2020-12-04 17:15] nchammas commented on #74
That is great news. This eliminates the need for an output manifest from Spark for any downstream processes, including a load into Redshift.

[2020-12-08 17:04] arahman commented on #53
* In `io.github.spark_redshift_community.spark.redshift.Util` the method `def addEndpointToUrl(url: String, domain: String = "s3.amazonaws.com"): String`. It would be good, if it instead use the hadoop config property fs.s3a.endpoint.

`
WARN  - Utils$                     - An error occurred while trying to determine the S3 bucket's region
com.amazonaws.AmazonClientException: Signature Version 4 r

[2020-12-08 21:21] shawnweeks commented on #53
It's been almost a year since I looked at this and we've decided to just build out the capability ourselves. Short answer is this library doesn't work on gov cloud because it uses an older aws sdk constructor method that's no longer supported by the AWS sdk and doesn't correctly find the endpoint for gov cloud.

[2021-01-11 08:32] vinoth5490 opened #80 "An error occurred while trying to read the S3 bucket lifecycle configuration"
**WARN Utils$: An error occurred while trying to read the S3 bucket lifecycle configuration**
com.amazonaws.services.s3.model.AmazonS3Exception: Status Code: 403, AWS Service: Amazon S3, AWS Request ID: <Requestid>, AWS Error Code: AccessDenied, AWS Error Message: Access Denied, S3 Extended Request ID: <ExtendedRequestID>

[2021-01-11 08:41] vinoth5490 opened #81 "java.sql.SQLNonTransientConnectionException"
#Pyspark
REDSHIFT_JDBC_URL = "jdbc:redshift://%s:5439/%s?user=%s&password=%s" % (REDSHIFT_SERVER,REDSHIFT_DATABASE,username,password)

df.write \
  .format("io.github.spark_redshift_community.spark.redshift") \
  .option("url", REDSHIFT_JDBC_URL) \
  .option("dbtable", "public.test_dbtable") \
  .option("aws_region", "us-west-2") \
  .option("tempdir", "s3a://"+aws_access_key_id+":"+aws_secret_acc

[2021-01-19 13:42] asargsya commented on #76
Hi @malopezp91, did you have a chance to check the issue after @vanhoale 's fix? I'm having the same issue with 4.0.2 version

[2021-03-05 17:46] alexmoore0 opened #82 "Support AWS-KMS encryption for S3 files"
During an `UNLOAD` operation, Redshift natively performs server-side encryption for the files written to S3, however Redshift also supports specifying a KMS key ID to use for that encryption instead by adding a clause to the query:
`KMS_KEY_ID '<KMS_KEY_ID>' encrypted`.

[Redshift docs](https://docs.aws.amazon.com/redshift/latest/dg/t_unloading_encrypted_files.html)

Decrypting the KMS-encrypted f

[2021-03-05 18:19] jsleight commented on #82
Seems like a reasonable proposal.  Interested in submitting a PR?

[2021-03-05 18:25] alexmoore0 commented on #82
@jsleight Yes, I have a branch off of `databricks/spark-redshift` that I can port over here and run the tests.

[2021-03-08 13:48] droher opened #83 "v5.0.0 not published to Maven"
It looks like v5 hasn't made it to Maven yet: https://mvnrepository.com/artifact/io.github.spark-redshift-community/spark-redshift

Would it be possible to add it? Thanks so much for maintaining this repo, it's a lifesaver!

[2021-03-08 15:30] jsleight commented on #83
oops, sorry about that!  We'll try to get v5 published out this week 😄

[2021-03-08 15:31] jsleight commented on #82
Sounds great!

[2021-03-13 01:39] 88manpreet commented on #83
@droher Sorry for the delay. There were some access issues I faced today. I am planning to get this out first thing on the coming Monday.

[2021-03-19 09:11] 88manpreet commented on #83
@lucagiovagnoli can you please provide access to me for the group `io.github.spark-redshift-community`. Ref.: [OSSRH-65648](https://issues.sonatype.org/browse/OSSRH-65648?focusedCommentId=1028982&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-1028982)

[2021-04-06 09:50] zHaytam opened #84 "Spark 3 - java.lang.ArrayStoreException: java.lang.invoke.SerializedLambda"
Hello,

We're trying to write a dataframe to redshift, using Spark 3.0.1 (on emr) and your connector, but we receive the following error:
`WARN TaskSetManager: Lost task 0.0 in stage 2.0 (TID 2, 10.80.139.254, executor 1): java.lang.ArrayStoreException: java.lang.invoke.SerializedLambda`

Packages added:

- com.amazon.redshift:redshift-jdbc42-no-awssdk:1.2.36.1060
- io.github.spark-redshift-commun

[2021-04-06 13:17] palash247 opened #85 "org.apache.spark.sql.catalyst.util.CaseInsensitiveMap; local class incompatible: stream classdesc serialVersionUID = 408543518132169623, local class serialVersionUID = 5773037215310388039"
I get this issue sporadically. I am executing pyspark code on Kubernetes. I am using spark-2.4.5, hadoop 2.7.3 with spark-redshift 4.1.1. The docker image was built using the inbuilt docker image building tool. Then using this image as base image I added some jars to `/opt/spark/jars` directory as following:

`wget https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk/1.7.4/aws-java-sdk-1.7.4.

[2021-04-06 17:55] jsleight commented on #84
(I also saw [your stackoverflow](https://stackoverflow.com/questions/66918397/spark-emr-redshift-java-lang-arraystoreexception-java-lang-invoke-serial), so reading a bit from there that you suspect it is crashing on the write to s3 on some pretty simple data)

The write to s3 code is [here](https://github.com/spark-redshift-community/spark-redshift/blob/master/src/main/scala/io/github/spark_redshi

[2021-04-06 17:57] zHaytam commented on #84
Hello,

We tried with Avro (default) and CSV, they both throw the same exception. I also read that part of the source code, I suspect that maybe it's because of either `convertedRows` or `convertedSchema`?

Thanks

[2021-04-06 18:21] jsleight commented on #84
Could be, although the converters are just for decimal, date, and timestamp -- which aren't in your example.  There is something about making the schema columns be lowercase, which would impact your example -- could see if all lowercase column names helps?

Otherwise, I'd check to see that this isn't a case of spark giving you a misinformative error (e.g., via lazy execution and the issue is actua

[2021-04-06 18:25] zHaytam commented on #84
All the columns in the dataframe we're trying to write are lowercase.
Also, we are able to write the dataframe to s3 to the same path (without the conversions).

[2021-04-07 03:33] palash247 commented on #85
Could this issue:[SPARK-24547](https://issues.apache.org/jira/browse/SPARK-24547) be related.

[2021-04-07 15:34] jsleight commented on #84
Do you have an example df?  The example you linked in stackoverflow has columns called `["ID", "TYPE", "CODE"]` which are all uppercase.  If you have decimal, date, or timestamp types in your df, then a bug in the converters seems more likely.

[2021-04-07 15:39] jsleight commented on #85
Couple followups:

- Is the error only sometimes? or is it consistent?  Especially for the same data.
- Do you have a small example dataframe you can share to minimally reproduce the error?
- Do you see the error if you replace the spark-redshift write with an s3 write to the same temporary path that spark-redshift is using?

[2021-04-07 15:42] jsleight commented on #85
Shouldn't be?  That issue is resolved in spark 2.4.0 and you mentioned using spark 2.4.5

[2021-04-07 16:00] zHaytam commented on #84
The dataframe that we tried is this:

| name | id | type | count |
|------|----|------|-------|
| x    | 0  | cf   | 7     |

[2021-04-07 17:39] palash247 commented on #85
@

The error is not consistent, and restarting the job usually works. I haven't been able to reproduce this locally also not in our development environment. This is happening in clients environment and I can not share the data. I wish I could share more detail.

[2021-04-07 17:41] palash247 commented on #85
Even though it is fixed, I did not pass the `-n` option to the docker-image-build-tool, could that be a problem?

[2021-04-07 17:53] jsleight commented on #84
@88manpreet have any ideas?  I don't see anything in the converters that should cause this error

[2021-04-07 18:05] jsleight commented on #85
You can try to pass the -n to avoid a docker cache.  That should only be an issue if you're rebuilding docker images in between runs though.  If the docker image is the same, then using the cache doesn't matter.

That you can't reproduce it locally either makes me suspect something is weird in your client's environment.

[2021-04-22 17:17] gumartinm opened #87 "Spark 3: low performance while reading CSV data"
Hello,

I am opening this issue because I have detected a really low performance while reading CSV files.

This low performance is due to the fact that the `createSerializer` function is an expensive operation: https://github.com/apache/spark/blob/0bcbafb4b868234d695b553f215e21fe66e7ff77/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/encoders/ExpressionEncoder.scala#L389

With the curre

[2021-04-22 17:20] gumartinm commented on #87
PR: https://github.com/spark-redshift-community/spark-redshift/pull/88

[2021-04-24 10:10] gumartinm commented on #87
Related PR closed :)

[2021-04-24 10:10] #87 closed

[2021-05-07 14:20] #82 closed

[2021-05-14 21:44] 88manpreet commented on #83
The latest version v5.0.3 is on Maven now: https://mvnrepository.com/artifact/io.github.spark-redshift-community/spark-redshift
Closing this issue.

[2021-05-14 21:44] #83 closed

[2021-06-15 08:48] chaimturkel opened #91 "NPE occurred while trying to read the S3 bucket lifecycle configuration"
rule.getStatus == BucketLifecycleConfiguration.ENABLED && key.startsWith(rule.getPrefix)

getPrefix is null, and method should use instead:  LifecycleFilter.

[2021-06-15 14:22] jsleight commented on #91
Does #30 solve this?  We've been bad about merging that PR it seems... 😢

[2021-07-25 22:21] tinder-randywang opened #93 "unload failing if set to use java.time.instant in Spark 3.x"
With Spark 3.x it's recommend to use java.time.instant over java.sql.timestamp  . (reference: https://databricks.com/blog/2020/07/22/a-comprehensive-look-at-dates-and-timestamps-in-apache-spark-3-0.html)
```spark.conf.set("spark.sql.datetime.java8API.enabled", "true")```

however with that turned on, the upload step fails, most likely because the spark-redshift lib still uses java.sql.timestamp re

[2021-07-25 22:21] #93 closed

[2021-07-25 22:23] honeybadgerdoesntcare opened #94 "unload failing if set to use java.time.instant in Spark 3.x"
With Spark 3.x it's recommend to use java.time.instant over java.sql.timestamp . (reference: https://databricks.com/blog/2020/07/22/a-comprehensive-look-at-dates-and-timestamps-in-apache-spark-3-0.html)
spark.conf.set("spark.sql.datetime.java8API.enabled", "true")

however with that turned on, the upload step fails, most likely because the spark-redshift lib still uses java.sql.timestamp related f

[2021-07-26 15:20] jsleight commented on #94
Makes sense to me.  Thanks for providing links 😄

Do you have interest in submitting a PR?  I'm happy to review and help get this merged/released.

[2021-07-29 07:21] honeybadgerdoesntcare commented on #94
@jsleight  pleasure. a quick one: https://github.com/spark-redshift-community/spark-redshift/pull/95

[2021-09-06 14:59] palash247 commented on #85
I have a strong feeling that this property was the issue: `spark.kubernetes.container.image.pullPolicy` which defaults to IfNotPresent. I was not setting it to Always. In client mode my driver was having latest image with version changes in some jars and the executors might be spinning up from old docker images.

[2021-09-07 15:24] jsleight commented on #85
Sounds like you made progress.  Are we good to close this issue?

unrelated, but if you are running spark with k8s, then I'd recommend bumping your spark version up as well.  spark's k8s support becomes increasingly stable with newer releases.

[2021-09-12 16:28] palash247 commented on #85
Yes, now using the latest version, and haven't seen this issue yet. Closing the ticket. Thank you.

[2021-09-12 16:28] #85 closed

[2021-11-04 23:55] 88manpreet commented on #91
@samuchoi I will work on getting the PR #30 merged.

[2021-11-05 07:34] samuchoi commented on #91
Ok, thank you!

[2021-11-09 13:05] jackwang2 opened #96 "spark-redshfit 5.0.3 split user query into multiple parts that caused very low performance"
Could you please let us know how to disable this feature please? thanks.

[2021-11-09 18:00] jsleight commented on #96
Which part is being re-written?  It does seem to be wrapping your query into a `select <cols> from <your_query>` but I don't think that will really impact redshift performance? (though I'm by no means a comprehensive redshift expert so could be wrong on this part)

As a reference, here is the source code for building the redshift unload statement https://github.com/spark-redshift-community/spark-r

[2021-11-09 20:53] 88manpreet commented on #91
@samuchoi please check the latest version for the fix.
 Let me know if the issue reproduces or re-open this issue.

[2021-11-09 20:53] #91 closed

[2021-11-09 22:04] samuchoi commented on #91
@88manpreet thank you! Could the latest version be added to the maven central repository?

[2021-12-30 11:30] ikarol opened #98 "java.io.StreamCorruptedException: invalid type code: 00 when the app is running on OpenShift in a client mode"
Hey,

I've been trying to figure this issue out for a while, but to no avail.

We have a spark job that uses spark-redshift(spark-redshift_2.12@master-SNAPSHOT).
When I run it in client mode via docker run (e.g. spark-submit  /opt/spark/work-dir/spark-transformations-0.1-jar-with-dependencies.jar) it works great.
But as soon we run it on OpenShift via our image(that has a little bit different spar

[2021-12-31 12:25] hotstar-xia opened #99 "Redshift query abort without throwing exception in spark job"
Hi, we are using the following command to unload some query results from redshift to s3.
[code]
But everytime when redshift abort our query, the spark job is still running and didn't receive any exceptions or signals. Do you have any suggestions on exception handling?

[2022-01-04 16:46] 88manpreet commented on #99
That is most likely due to spark session not being closed.
I am assuming you created or using a spark session in the above code.
Could you try adding `sc.stop()` in your exception handling?

[2022-01-04 16:53] 88manpreet commented on #98
Can you try using Spark version: 3.0.2?
What is the difference b/w arguments of the two different spark-submit commands being used?

[2022-02-05 00:37] chupee120 opened #102 "Is there any Java API?"
Hello,

Can we use this library in JAVA or is there any JAVA API ?

[2022-02-07 18:04] jsleight commented on #102
The entire library is implemented as scala spark APIs, so I can't think of any reason why you couldn't call it from Java.  Is there a particular error you're seeing which makes you think otherwise?

[2022-03-24 18:42] conker84 opened #103 "Wrong FS error while import data in RedShift"
Hi everybody!
I have a simple spark job that gets the data from Neo4j and tries to ingest into RedShift:

[code]

But I get the following error:

[code]

Looking at the code it seems that the problem is related to these lines:

https://github.com/spark-redshift-community/spark-redshift/blob/1f12470735c17022ae2dd68d0963649577928dde/src/main/scala/io/github/spark_redshift_community/spark/redshift/Re

[2022-03-25 17:44] gios91 commented on #103
Hi @conker84,
I'm getting exactly the same error log

[code]

with following specs:

* Spark `v3.2.0`

* SBT dependencies

[code]
when I try to call the this function (write DataFrame as Redshift table)

[code]

moreover, I have to say that

* I never faced this issue using Spark `v3.0.2` (or lower)

* `s3TempDirPath` is in the form `s3a://<bucket-name>/athena_query/`

*  I use following credentia

[2022-03-25 17:49] gios91 commented on #103
@jsleight @lucagiovagnoli @88manpreet can you please support us on it? Many thanks!

[2022-03-25 21:46] conker84 commented on #103
there is already a PR waiting for review @gios91

[2022-04-17 07:17] ArunaMuthusamy opened #106 "java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.encoders.ExpressionEncoder.toRow(Ljava/lang/Object;)Lorg/apache/spark/sql/catalyst/InternalRow;"
When trying to read data from Redshift table, the connector is able to write to s3 successfully but then it throws an error  stating 'java.lang.NoSuchMethodError: org.apache.spark.sql.catalyst.encoders.ExpressionEncoder.toRow(Ljava/lang/Object;)Lorg/apache/spark/sql/catalyst/InternalRow;'.  This is in spark version 3.1.2
Error and stack trace:
		at io.github.spark_redshift_community.spark.redshift

[2022-04-18 14:18] jsleight commented on #106
As a sanity check, is `dbUser` root?  The stacktrace makes it seem like the jdbc connection isn't authenticating correctly.

[2022-05-04 14:02] giacomochiarella opened #107 "Case sensitive columns identifiers"
Hi everyone! I'm approaching to Redshift and I'm using pyspark to load tables. spark-redshift jar works very well except one thing. I'm loading tables that unfortunately have some columns with the same name but different case sensitivity, like `username` and `userName`. Unfortunately I do not have any control on this as they are external sources.
I've tried to use Redshift itself and it seems it c

[2022-05-11 14:19] jsleight commented on #107
From the link you provided it seems like spark-redshift would need a PR to optionally skip the check you linked.  If you're up for submitting a PR, I'm happy to help review and ship it 😄 .  Probably the best approach is via adding a new writer option to enable case sensitive identifiers.

As a workaround I think you could load the table into redshift with different names and then use aws commands

[2022-05-11 14:49] giacobbino commented on #107
Good to hear. What I did so far is remove the toLowerCase [here](https://github.com/spark-redshift-community/spark-redshift/blob/a675a3c5455dcc1596410fd4b58299a9b7ddf3f4/src/main/scala/io/github/spark_redshift_community/spark/redshift/RedshiftWriter.scala#L268). To make things working.
I can do the change. I have only one question. Is it enough to add the parameter to Parameter.scala and pass it t

[2022-05-12 07:35] giacobbino commented on #107
PR open #108

[2022-06-29 11:23] YuelongCai commented on #91
@88manpreet This issue happened again with scala 2.12. Could you help release the latest version to maven central repository? Currently usage is compile group: 'io.github.spark-redshift-community', name: 'spark-redshift_2.12', version: '5.0.3' for gradle.

[2022-09-21 18:06] jsleight commented on #103
I just merged #110 which should fix this.

[2022-09-21 18:06] #103 closed